.card__title {
    color: #403e57;
    font-size: 18px;
    font-weight: 700;
  }
  .card-filters__title {
    color: #403e57;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .table-responsive thead th{
      background-color: var(--e-global-color-fa7c76c);
      color: #fff;
      text-align:center;
  }
  .table-responsive thead tr th:first-child,
  .table-responsive thead tr th:last-child{
      width: 10%;
  }
  .table-responsive td{
      vertical-align: middle;
      font-size: 14px;
      text-align:center;
  }
  .table-actions__btn{
      margin: 0 3px !important;
      font-family: "Vazirmatn", sans-serif !important; 
  }
  
  .table-actions__btn span{
      margin-left: .3rem;
  }
  .MuiPagination-ul.css-wjh20t-MuiPagination-ul li button svg{
      transform: rotate(180deg) !important;
  }