/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

.vazirmatn-100 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.vazirmatn-200 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.vazirmatn-300 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.vazirmatn-400 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.vazirmatn-500 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.vazirmatn-600 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.vazirmatn-700 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.vazirmatn-800 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.vazirmatn-900 {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* normalise */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
/* global css */
.disableBtn{
  opacity: .8;
}
.form-btn{
  background-color: var(--e-global-color-fa7c76c);
  color: #fff;
  width: 100%;
  border-radius: .5rem;
  border: none;
  padding: .5rem;
  transition: var(--main-transition);
}

.form-btn:hover{
  background-color: var(--e-global-color-0f2f38);
}


.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: var(--e-global-color-blue);
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 var(--e-global-color-blue), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 var(--e-global-color-blue), 100px 0 var(--e-global-color-blue), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 var(--e-global-color-blue), 110px 0 var(--e-global-color-blue), 100px 0 var(--e-global-color-blue), 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 var(--e-global-color-blue), 120px 0 var(--e-global-color-blue), 110px 0 var(--e-global-color-blue), 100px 0 var(--e-global-color-blue);
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--e-global-color-blue), 120px 0 var(--e-global-color-blue), 110px 0 var(--e-global-color-blue);
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--e-global-color-blue), 120px 0 var(--e-global-color-blue);
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--e-global-color-blue);
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}