:root{
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-fa7c76c: #174A58;
    --e-global-color-1f25305: #FFB900;
    --e-global-color-d52a2b5: #022E1F;
    --e-global-color-872b1a4: #0B491D;
}